*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 
}
:root{
    font-size: 16px;
}

div {
    word-wrap: break-word;
    overflow-wrap: break-word; 
}


body{
    background: url(../img/background.png);
    color: white;
}

.container{
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 8px;
    padding: 20px;
}

.login > h2{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #007c23;
}

.login_form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login_input{
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #121212;
    color: #14b541;
    outline: none;
    border-radius: 8px;
}

.login_input:focus{
    outline: 2px solid #14b541;
}

.login_button {
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #007c23;
    cursor: pointer;
    color: #121212;
    transition-duration: 0.5s;

}

.login_button:hover{
    transition-duration: 0.5s;
    padding: 20px;
    background-color: #14b541;
}

.chat{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat_menssagens{
    flex-grow: 1;
    padding: 30px 30px 75px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chat_form{
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
}

.chat_input{
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #14b541;
    font-size: 1rem;
}

.chat_button{
    border: none;
    background: none;
    color: #14b541;
    cursor: pointer;
}

.chat_button > span{
    transition: 0.3s;
    font-size: 1.8rem;
}

.chat_button:hover > span{
    transition: 0.3s;
    font-size: 2.3rem;
}

.chat_menssagens > div{
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
}

.message_self{
    background-color: #0a4d1d;
    border-radius: 10px 10px 0px 10px;
    align-self: flex-end;
}
.message_other{
    background-color: #212121;
    border-radius: 10px 10px 10px 0px;
    align-self: flex-start;
}

.massage_sender{
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: aqua;
}